/* Estilos globales en src/styles.css */

/* Define el tamaño de fuente base usando rem para que escale bien */
html {
  font-size: 16px; /* Coincide con el valor inicial del servicio */
}

body {
  transition: background-color 0.3s, color 0.3s;
}

/* Modo Contraste */
body.modo-contraste {
  background-color: #000;
  color: #fff;
}

body.modo-contraste a {
  color: #ffff00; /* Amarillo brillante para enlaces */
}

body.modo-contraste button {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}